@import "font.css";

body {
    background-image: url(../images/background_img.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.about {
    position: fixed;
    top: 200px;
    left: 700px;
    color: white;
    font-family: 'Nunito';
}

.info {
    position: fixed;
    top: 250px;
    left: 350px;
    font-family: 'Nunito';
    color: white;
}