@import "font.css";

body {
    background: url(../images/background_img.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.navbar {
    font-family: "Nunito";
    color: white;
}

.navbar-nav {
    display: flex;
    align-items: center;
    gap: 1.1rem;
    padding: 0;
    margin: 0;
}

.navbar-nav .nav-item {
    margin: 0;
    padding: 0;
}

.navbar-nav .nav-link {
    font-size: 1.3rem;
    padding: 0.2rem 0.5rem;
    margin: 0;
    color: white;
}

.nav-link {
    font-size: 1.1rem;
    padding: 0.6rem 1.2rem;
}

@media (max-width: 768px) {
    .navbar-nav .nav-item {
        margin: 5px 0;
    }

    .navbar-nav .nav-link {
        text-align: center;
        padding: 0.5rem;
    }
}

@media (min-width: 992px) {
    .navbar-nav .nav-link {
        padding: 0.2rem 0.4rem;
    }
}

.separator {
    border: none;
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255,0.75);
    margin: 2rem auto;
    opacity: 1;
}

.info h1 {
    text-align: left;
    margin: 0;
    font-family: "Nunito";
    color: white;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: white;
}

.footer {
    font-family: 'Nunito-Bold';
    color: white;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
    width: 100%;
    bottom: 0;
    position: fixed;
}