@import "font.css";

body {
    background-image: url(../images/background_img.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
header {
    display: inline-block;
}

header .name {
    display: inline-block;
    padding-right: 1000px;
    font-family: 'Nunito';
    color: white;
    
}
header .about {
    display: inline-block;
    text-align: right;
    padding-right: 5px;
    font-family: 'Nunito';
}

header .resume {
    display: inline-block;
    text-align: right;
    font-family: 'Nunito';
    padding-right: 5px;
}

header .education {
    display: inline-block;
    text-align: right;
    padding-right: 5px;
    font-family: 'Nunito';
}

header .experience {
    display: inline-block;
    text-align: right;
    padding-right: 5px;
    font-family: 'Nunito';
}

header .contact {
    display: inline-block;
    text-align: right;
    padding-right: 5px;
    font-family: 'Nunito';
}

hr {
    width: 1500px;
}
.info {
    text-align: right;
    padding-right: 500px;
    padding-top: -100px;
    font-family: "Nunito";
    color: white;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: white;
}

.footer {
    font-family: 'Nunito-Bold';
    color: white;
    padding-left: 650px;
    padding-top: 240px;
}